@model EditViewModel
@{
    ViewBag.Title = Model.UserName;
    ViewBag.Icon = "edit";
    Layout = "ManagerLayout";
    ViewBag.Return = Model.ReturnUrl;
}
<link href="~/cropperjs/dist/cropper.min.css" rel="stylesheet" />
<script src="~/cropperjs/dist/cropper.min.js"></script>
<div class="container">
    <div class="">
        <div class="card-content">

            <span class="card-title">@ViewBag.Title</span>
            @if (User.Identity.Name != Model.OldUserName)
            {


                <form asp-action="RemoveAccount" method="post">
                    <input type="hidden" name="username" value="@(Model.OldUserName)" />
                    <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
                    <button type="submit" class="btn red white-text">Delete</button>

                </form>
            }
            <form id="form" asp-action="Edit" asp-controller="Account" asp-area="Teacher" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="All" class="red-text"></div>
                <input type="hidden" asp-for="ReturnUrl" value="@Model.ReturnUrl" />
                <div class="row">
                    <div class="col m8">
                        <input type="hidden" asp-for="OldUserName" value=@Model.OldUserName />
                        <blockquote>
                            The account is in role:
                            @foreach (var item in Model.Roles)
                            {
                                <p>@item</p>

                            }

                        </blockquote>
                        <div class=" input-field col l6 s12">
                            <label asp-for="Email">Email:</label>
                            <input asp-for="Email" />
                            <span asp-validation-for="Email" class="red-text"></span>
                        </div>
                        <div class=" input-field col l6 s12">
                            <label asp-for="UserName">Username:</label>
                            <input asp-for="UserName" />
                            <span asp-validation-for="UserName" class="red-text"></span>
                        </div>


                        <div class="input-field col l6 s12">
                            <label asp-for="FirstName">First name:</label>
                            <input asp-for="FirstName" />
                            <span asp-validation-for="FirstName" class="red-text"></span>
                        </div>
                        <div class="input-field col l6 s12">
                            <label asp-for="LastName">Last name:</label>
                            <input asp-for="LastName" />
                            <span asp-validation-for="LastName" class="red-text"></span>
                        </div>
                        <div class="input-field col l6 s12">
                            <i class="material-icons prefix">phone</i>
                            <label asp-for="PhoneNumber">Phone number:</label>
                            <input asp-for="PhoneNumber" />
                            <span asp-validation-for="PhoneNumber" class="red-text"></span>
                        </div>


                        <div class="input-field col  s12">
                            <label asp-for="Description">Some personal data (markdown/html):</label><br />
                            <textarea id="textarea" asp-for="Description" class="materialize-textarea" data-length="50"></textarea>
                            <span asp-validation-for="Description" class="red-text"></span>
                        </div>
                    </div>

                    <div class="col m4">
                        <div>
                            @if (Model.Avatar == null)
                            {
                                <img id="blah" class="circle" style="object-fit: cover;width:200px;height:200px;" src="~/img/img_avatar.png">
                            }
                            else
                            {
                                <img id="blah" class="circle" style="object-fit: cover;width:200px;height:200px;" src="data:image;base64,@(Convert.ToBase64String(Model.Avatar))">
                            }

                        </div>
                        <div class="input-field ">

                            <div class="file-field input-field">

                                <div class="btn">
                                    <span><i class="material-icons">cloud_upload</i></span>
                                    <input type="file" accept="image/x-png,image/gif,image/jpeg" onchange="readURL(this);" />

                                </div>

                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" placeholder="Upload avatar:" />
                                </div>


                            </div>

                        </div>


                    </div>

                </div>

                <!-- Modal Structure -->
                <div id="crop" class="modal" style="height:400px;">
                    <div class="modal-content">

                        <div class="cropper-container" style="max-height:300px;overflow:hidden;">
                            <img class="responsive-img" id="image" src="" alt="">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-close waves-effect waves-red btn-flat">cancel</a>
                        <a class="btn modal-close" href="#" onclick="sendImage()">Save Photo</a>
                    </div>
                </div>









                <input type="submit" value="Edit account" class="btn" />
                <a class="btn red" href="@Model.ReturnUrl">Cancel</a>
            </form>


        </div>
    </div>

</div>
<script src="~/dist/js/Cropper/Cropping.js"></script>





