@model ShowTaskViewModel
@{
    Layout = "ManagerLayout";
    ViewBag.Title = Model.Task.Name;
    ViewBag.Return = Model.returnUrl;
}
@section Menu{
<div class="collection">
    <a asp-action="Rate" asp-route-returnUrl="@(Context.Request.Path+Context.Request.QueryString)" asp-route-TaskID="@Model.Task.StTaskID" class="collection-item blue white-text">rate task</a>

    <a asp-action="AddTaskFile" asp-route-returnUrl="@(Context.Request.Path+Context.Request.QueryString)" asp-route-TaskID="@Model.Task.StTaskID" class="collection-item blue white-text">
        Add file
    </a>
</div>
}

<div class="card yellow lighten-5">
    <div class=" card-content">
        <div class="card-title">
            @Model.Task.Name
            @if (Model.User != null)
            {
                <span class="badge">
                    <a asp-controller="Account" asp-action="StudentProfile" asp-route-username="@Model.User.UserName" asp-route-returnUrl="@(Context.Request.Path+Context.Request.QueryString)">

                        <span class="chip green white-text">
                            @if (Model.User.Avatar == null)
                            {
                                <img class="circle" style="object-fit: cover;" src="~/img/img_avatar.png">
                            }
                            else
                            {
                                <img class="circle" style="object-fit: cover;" src="/File/Photo/@Model.User.UserName">
                            }
                            @Model.User.FirstName  @Model.User.LastName
                        </span>
                    </a>
                </span>
            }
            else
            {
                <span class="badge white-text chip red">Nobody</span>
            }
        </div>

        <div class="chips">
            <div class="chip teal  white-text">Mark: @Model.Task.CurrentCost/@Model.Task.MaxCost</div>
            <div class="chip blue  white-text">DeadLine: @Model.Task.DeadLine.ToShortDateString()</div>
        </div>

        <p>@Model.Task.Description</p>
        <h3>Files</h3>
        <ul class="collapsible green lighten-5" data-collapsible="accordion">
            @foreach (var File in Model.Files)
            {
                <li>
                    <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>@File.FileName</div>
                    <div class="collapsible-body">

                        <p>@File.Description</p>

                        <a class="red-text right" asp-controller="File" asp-action="RemoveFile" asp-route-filename="@File.FileName" asp-route-returnUrl="@(Context.Request.Path+Context.Request.QueryString)">Delete</a>
                        <a class="green-text left"  asp-route-filename="@File.FileName" asp-area="" asp-controller="File" asp-action="GetFile">Open</a>
                    </div>
                </li>
            }
            @if (Model.Files.Count == 0)
            {
                <l1>
                    File list is empty.
                </l1>
            }

        </ul>
     
            <div class="row">
                @foreach (var answer in Model.Answers)
                {

                    <div class=" @(answer.IsTeacherAnswer?"col s12 blue lighten-5 card horizontal":"col s12 card horizontal")">

                        <div class="card-content">
                            <div class="avatar">
                                @if (answer.User.Avatar == null)
                                {
                                    <img class="circle" height="50" style="object-fit: cover;" src="~/img/img_avatar.png">
                                }
                                else
                                {
                                    <img class="circle" height="50" style="object-fit: cover;" src="/File/Photo/@answer.User.UserName">
                                }

                                <p>
                                    @answer.User.FirstName <br>
                                    @answer.User.LastName
                                </p>

                            </div>
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <p>@answer.Answer.TextData</p>
                            </div>
                            <div class="card-action">
                                <a class="@(answer.IsTeacherAnswer?"chip black white-text":"chip blue white-text") " href="#">@answer.Answer.AnswerDate.ToShortDateString()</a>
                                <a class="red-text right" asp-action="DeleteAnswer" asp-route-AnswerID="@(answer.Answer.AnswerID)" asp-route-returnUrl="@(Context.Request.Path+Context.Request.QueryString)">delete</a>
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>

<script>


    $(document).ready(function () {
        $('.collapsible').collapsible();
    });


</script>
