@model KovalukApp.Models.User
<ul id="slide-out" class="sidenav">
    <li>
        <div class="user-view">
            <div class="background">
                <img width="300" src="~/img/first.jpg">
            </div>
            <a href="#user">
                @if (Model.Avatar == null)
                {
                    <img class="circle" style="object-fit: cover;" src="~/img/img_avatar.png" />
                }
                else
                {
                    <img class="circle" style="object-fit: cover;" src="/File/Photo/@Model.UserName" />
                }

                <span class="badge white-text chip teal">@Model.FirstName @Model.LastName</span>
                <span class="badge white-text chip teal">@Model.Email</span>



            </a>
            <br /><br />
        </div>
    </li>
    <li><a class="subheader">@ViewBag.Localizer["Student options"]</a></li>
    <li><a href="/"><i class="material-icons">home</i>@ViewBag.Localizer["Home"]</a></li>

    <li><a class="waves-effect" asp-area="Student" asp-action="List" asp-controller="Group"><i class="material-icons">group</i>@ViewBag.Localizer["My group"]</a></li>
    <li><a class="waves-effect" asp-area="Student" asp-action="List" asp-controller="Task" asp-route-returnUrl="@(Context.Request.Path+Context.Request.QueryString)"><i class="material-icons">code</i>@ViewBag.Localizer["My tasks"]</a></li>
    <li><a class="waves-effect" asp-area="Student" asp-action="List" asp-controller="Documentation" asp-route-returnUrl="@(Context.Request.Path+Context.Request.QueryString)"><i class="material-icons">assignment</i>@ViewBag.Localizer["Documentation"]</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">@ViewBag.Localizer["Settings"]</a></li>
    <li><a class="waves-effect" asp-area="Student" asp-action="StudentProfile" asp-controller="Account" asp-route-returnUrl="@(Context.Request.Path+Context.Request.QueryString)"><i class="material-icons">account_box</i>@ViewBag.Localizer["Proffile"]</a></li>
    <li><a class="waves-effect" asp-area="Student" asp-action="Edit" asp-controller="Account" asp-route-returnUrl="@(Context.Request.Path+Context.Request.QueryString)"><i class="material-icons">edit</i>@ViewBag.Localizer["Edit my account"]</a></li>
    <li><a class="waves-effect" href="/Account/Logout"><i class="material-icons">exit_to_app</i>@ViewBag.Localizer["log out"]</a></li>

</ul>
