@model IEnumerable<StTask>
@{
    Layout = "ManagerLayout";
    ViewBag.Title = "Tasks";

}


<div class="col s12">
    <ul class="tabs">
        <li class="tab col s3"><a href="#AllTasks"><span class="orange white-text badge">@Model.Count() </span>All Tasks</a></li>
        <li class="tab col s3"><a class="active" href="#UncTasks"><span class="blue white-text badge">@Model.Where(x => x.IsChecked).Count() </span>Checked</a></li>

    </ul>
</div>
<div class="container">
    <div id="AllTasks">
        @if (Model.Count() == 0)
        {
            <h1>No tasks</h1>
        }
        else
        {
            <ul class="collapsible " data-collapsible="accordion">

                @foreach (var task in Model)
                {

                    <li>
                        <div class="collapsible-header teal lighten-4">
                            <i class="material-icons">arrow_drop_down</i>@task.Name
                          
                        </div>
                        <div class="collapsible-body teal lighten-5">
                            <div class="chips">
                                <div class="chip teal  white-text">Mark: @task.CurrentCost/@task.MaxCost</div>
                                <div class="chip blue  white-text">DeadLine: @task.DeadLine.ToShortDateString()</div>
                            </div>

                            <p>@task.Description</p>
                            <a class="green-text" asp-controller="Task" asp-action="ShowTask" asp-route-StTaskID="@task.StTaskID" asp-route-returnUrl="@(Context.Request.Path+Context.Request.QueryString)">Show</a>
                           
                        </div>
                    </li>
                }


            </ul>

        }

    </div>
    <div id="UncTasks">
        @if (Model.Where(x => x.IsChecked).Count() == 0)
        {
            <h1>No checked tasks</h1>
        }
        else
        {

            <ul class="collapsible " data-collapsible="accordion">

                @foreach (var task in Model.Where(x => x.IsChecked))
                {

                    <li>
                        <div class="collapsible-header green lighten-4">
                            <i class="material-icons">arrow_drop_down</i>@task.Name

                        </div>
                        <div class="collapsible-body green lighten-5">
                            <div class="chips">
                                <div class="chip teal  white-text">Mark: @task.CurrentCost/@task.MaxCost</div>
                                <div class="chip blue  white-text">DeadLine: @task.DeadLine.ToShortDateString()</div>
                            </div>

                            <p>@task.Description</p>
                            <a class="blue-text" asp-controller="Task" asp-action="ShowTask" asp-route-StTaskID="@task.StTaskID" asp-route-returnUrl="@(Context.Request.Path+Context.Request.QueryString)">Show</a>
                          
                        </div>
                    </li>
                }


            </ul>


        }

    </div>
</div>
<script>

    $(document).ready(function () {
        $('.tabs').tabs();
    });
    $(document).ready(function () {
        $('.collapsible').collapsible();
    });


</script>
