@model ShowPublicPageViewModel
@{
    Layout = "ManagerLayout";
    ViewBag.Title = Model.Name;
    ViewBag.Icon = "info";
    ViewBag.Return = Model.returnUrl;
}

<div class="row">

    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s3"><a href="#Files"><span class="orange white-text badge">@Model.Files.Count</span>Файли</a></li>
            <li class="tab col s3"><a class="active" href="#Data">Markdown/Html контент</a></li>

        </ul>
    </div>

    <div id="Files">

        <div class="col s12 m3">
            <div class="collection">
                <a asp-action="AddDocFile" asp-route-returnUrl="@(Context.Request.Path+Context.Request.QueryString)" asp-route-PageID=@Model.DocPageID class="collection-item blue white-text">Додати файл</a>
            </div>
        </div>
        <div class="col s12 m9" >
            @if (Model.Files.Count() == 0)
            {
                <blockquote>
                    <h1> Список файлів порожній!</h1>

                </blockquote>
            }
            else
            {




                <ul class="collapsible" data-collapsible="accordion">

                    @foreach (var file in Model.Files)
                    {

                        <li>
                            <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>@file.FileName</div>
                            <div class="collapsible-body">

                                <p>@file.Description</p>
                                <a class="purple-text left" asp-controller="File" asp-action="GetFile" asp-route-filename="@file.FileName">Скачати</a>
                                <a class="red-text right" asp-controller="File" asp-action="RemoveFile" asp-route-filename="@file.FileName" asp-route-returnUrl="@(Context.Request.Path+Context.Request.QueryString)">Видалити</a>

                            </div>
                        </li>
                    }


                </ul>






            }
        </div>
    </div>



    <div id="Data">

        <div class="row">
            <div class="col m3 s12">

                <div class="collection">

                    <a asp-action="AddMarkdownToPage" asp-route-PageID=@Model.DocPageID asp-route-returnUrl="@(Context.Request.Path+Context.Request.QueryString)" class="collection-item blue white-text">Змінити Markdown/html код</a>

                </div>


            </div>

            <div class="col l9 s12" >


               
                    <div class="markdown">   @Html.Raw(Model.HtmlDataText)</div>
             

            </div>
        </div>
    </div>
</div>
<script>

    $(document).ready(function () {
        $('.tabs').tabs();
    });
    $(document).ready(function () {
        $('.collapsible').collapsible();
    });
</script>
